@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}

@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

/* .topSection {
  background-color: blue;

} */

.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: conic-gradient(rgb(64, 29, 2),
      rgb(255, 174, 0),
      rgb(64, 29, 2));
  background-image: url("../../images/kbengalsbgGradient.png");
  background-size: cover;
}

.header {
  background-color: burlywood;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 5px;
  padding-top: 20px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;

}

.p1 {
  background-color: #6b462a;
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-left: 20px;
  /*removed height*/
  width: 60%;
  margin-left: 15px;
  margin-top: 1px;
  margin-bottom: 40px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  border-radius: 10px;
}

/* .question1 {
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
} */

.box1 {
  background-color: #6b462a;
  align-items: center;
  overflow: hidden;
  height: auto;
  width: auto;
  margin-top: -250px;
  margin-left: 70%;
  margin-right: 20px;
  margin-bottom: 30px;
  outline-style: solid;
  outline-width: 10px;
  outline-color: burlywood;
}

.box1 img {
  width: 100%;
  height: 100%;
}

.p2 {
  background-color: #6b462a;
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-left: 20px;
  /*removed height*/
  width: 95%;
  margin-top: 100px;
  margin-left: 15px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  border-radius: 10px;
}

.box2 {
  background-color: #6b462a;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 350px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20px;
  margin-bottom: 30px;
  outline-style: solid;
  outline-width: 10px;
  outline-color: burlywood;
}

.box2 img {
  width: 100%;
  height: 100%;
}

.bottomPics {
  width: 375px;
  height: 190px;
  background-color: gainsboro;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#bottomImage1 {
  float: left;
  height: 175px;
  width: 175px;
}

#bottomImage2 {
  float: right;
  height: 175px;
  width: 175px;
}


/* .box3 img {

  width: 100%;
  height: 100%;
} */

.p3 {
  background-color: #6b462a;
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-left: 20px;
  /* height: 100px; */
  width: auto;
  margin-top: 100px;
  margin-left: 30%;
  margin-right: 30%;
  /* margin-bottom: -30px; */
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  border-radius: 10px;
}