@import "../../theme.css";

@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: conic-gradient(
    rgb(64, 29, 2),
    rgb(255, 174, 0),
    rgb(64, 29, 2)
  );
  background-image: url("../../images/kbengalsbgGradient.png");
  background-size: cover;
}

.header{
  background-color: var(--light-primary-color);
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 20px;
  height: 100px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
}

.p1{
  background-color: var(--light-primary-color);
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-left: 20px;
  height: 250px;
  width: 60%;
  margin-top: 1px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  border-radius: 10px;
}

.box1{
  background-color: var(--light-primary-color);
  align-items: center;
  overflow: hidden;
  height: 250px;
  width: 300px;
  margin-top: -250px;
  margin-left: 70%;
  margin-right: 20px;
  margin-bottom: 30px;
  outline-style: solid;
  outline-width: 10px;
  outline-color: var(--light-primary-color);
}

.box1 img{
  width: 100%;
  height: 100%;
}

.p2{
  background-color: var(--light-primary-color);
  color: white;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-left: 20px;
  height: 450px;
  width: 95%;
  margin-top: 1px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  border-radius: 10px;
}

.box2{
  background-color: var(--light-primary-color);
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 350px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20px;
  margin-bottom: 30px;
  outline-style: solid;
  outline-width: 10px;
  outline-color: var(--light-primary-color);
}

.box2 img{
  width: 100%;
  height: 100%;
}

.box3{
  background-color: var(--light-primary-color);
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 350px;
  margin-top: -330px;
  margin-left: 60%;
  margin-right: 20px;
  margin-bottom: 30px;
  outline-style: solid;
  outline-width: 10px;
  outline-color: var(--light-primary-color);
}

.box3 img{
  width: 100%;
  height: 100%;
}