@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.breedInfoPage {
  position: absolute;
  height: 100%;
  width: 100%;
}

.backgroundLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/Kb-website-background.png");
  width: 100%;
}

.topPictureContainer {
  width: 100%;
}
.topPicture {
  width: 100%;
  height: auto;
}

.sectionHeader{
  margin:20px;
}

.bengalsTextContainer{
  background-color: #a87d48f5;
  font-size: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.bengalsIntroPic{
  float: right;
  width: 33%;
  margin-right: 30px;
  margin-left: 30px;
}

.breedInfoTxt {
  /*position: absolute;*/
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bottomContainer img {
  display: flex;
  width: 50%;
  margin: 10px 10px 30px 30px;
}

p.text{
  margin:20px;
}
