@import "../../theme.css";

.litterUpdatesPage {
  background-image: var(--bg-image);
  background-size: cover;
  width: 100%;
}

.litterInstructionContainer {
  font-family: var(--generic-website-text);
  font-size: var(--generic-website-size);
  opacity: 0.9;
  padding: 1%;
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  flex-direction: column;
  color: black;
  background-color: #a87d48f5;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #e2b78e;
}

.parentCardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh;
  gap: 4vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.parentCard {
  background-color: #e2b78e;
  opacity: 0.85;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 2vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  padding: 2vh;
  border-style: solid;
  border-radius: 20px;
  border-width: 10px;
  border-color: #a87d48f5;
}

.parentName{
  text-align: center;
  font-family: var(--header-text-font);
  color: black;
  font-size: 4vh;
}

.parentImage {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px;
  border-color: #a87d48f5;
}

.parentImage img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.litterWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vh;
  gap: 20vh;
  overflow: hidden;
  margin-left: 10%;
  margin-bottom: 10vh;
  width: 80%;
}

.litterInfo {
  font-family: var(--generic-website-text);
  font-size: var(--generic-website-size);
  color: black;
  background-color: #a87d48f5;
  margin-top: -15vh;
  text-align: left;
  padding: 1vh;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vh;
  border-style: solid;
  border-width: 8px;
  border-color: #e2b78e;
  border-radius: 10px;
  position: absolute;
}

.litterInfo h1{
  font-size: var(--header-font-size);
  line-height: 4vh;
}

.litterInfo p{
  font-size: var(--generic-website-size);
  line-height: 2.5vh;
}

.litterInfo img{
  max-height: 85%;
  min-height: 80%;
  max-width: 100%;
  min-width: 70%;
  margin: .1vh;
  border-radius: 20px;
}

