@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.ourCatsPage {
  background-image: url("../../images/Kb-website-background.png");
  background-size: cover;
}

.headerContainerOurCats {
  background-image: url("../../images/OurCatsHeader.png");
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  top: 150px;
  height: 700px;
  vertical-align: text-top;
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.secondaryHeaderContainer {
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 20px;
  width: 60%;
  height: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -110px;
  margin-bottom: 60px;
}

.body {
  background-color: rgb(184, 144, 96, .9);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20%;
  width: 60%;
}

.firstFemaleTitle {
  padding-left: 1%;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 24%;
  margin-left: 6.25%;
  margin-bottom: 25px;
}

.secondFemaleTitle {
  padding-left: 1%;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 24%;
  margin-left: 37.5%;
  margin-top: -135px;
}

.maleTitle {
  padding-left: 1%;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 24%;
  margin-left: 68.75%;
  margin-right: 6.25%;
  margin-top: -135px;
}

img {
  margin-left: 6.25%;
  width: 25%;
  margin-bottom: 20px;
}

.openModalBtn {
  width: 90px;
  height: 50px;
  margin-left: 15%;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
}

.closeBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.healthBox {
  padding-top: 10px;
  text-align: center;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 6.25%;
  margin-top: 20px;
  width: 25%;
  height: 100px;
}

.vaccinationBox {
  padding-top: 10px;
  text-align: center;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 37.5%;
  margin-top: -110px;
  width: 25%;
  height: 100px;
}

.registrationBox {
  padding-top: 10px;
  text-align: center;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 68.75%;
  margin-top: -110px;
  width: 25%;
  height: 100px;
}

.socialsBox {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(107, 70, 42, .9);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 30%;
  height: 200px;
  margin-top: 60px;
  margin-left: 35%;
  border-radius: 50%;
}