@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.ourCatsPage {
  background-image: url("../../images/kbengalsbgGradient.png");
  background-size: cover;
  height: 100%;
}

.headerContainerOurCats {
  background-image: url("../../images/OurCatsHeader.png");
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  top: 150px;
  height: 700px;
  vertical-align: text-top;
  padding-top: 50px;
  padding-left: 23%;
  padding-right: 23%;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: black;
}
.headerContainerOurCats h1{
  font-size: 3vw;
}
.headerContainerOurCats h2{
  font-size: 1.8vw;
}

.secondaryHeaderContainer {
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 20px;
  width: 60%;
  height: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -110px;
  margin-bottom: 60px;
}
.secondaryHeaderContainer h1{
  font-size: 1.8vw;
}

.body {
  background-color: rgb(184, 144, 96, .9);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 2vh;
  align-self: start;
  padding: 2vw;
  border-style: solid;
  border-color: #6b462a;
  border-radius: 10px;
  margin: auto;
  width: 60%;
  height: fit-content;
}

.organizations{
  width: 100%;
  padding: 2vw;
}

.organizationText{
  border-left: #6b462a;
  border-left-style: solid;
  border-width: 2px;
  padding-left: 1vw;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2vw;
  line-height: 1.1;
}

.ticaBtn {
  width: 60%;
  height: 18%;
  margin-left: 20%;
  background-color: white;
  border-style: solid;
  border-color: #6b462a;
  border-radius: 10px;
  border-width: 3px;
  cursor: pointer;
}

.ticaLogo{
  width: 100%;
  height: 100%;
}

.parents{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  gap: 1vw;
  padding-left: 1vw;
}

.parentTile {
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0.5;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 7%;
  border-radius: 10px;
  overflow: hidden;
}
.parentTile h1 {
  margin-top: 0.5vw;
  font-size: 1.8vw;
  line-height: 1;
}
.parentTile p {
  font-size: 1.3vw;
}

.sliderColumn{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1vw;
  width: 100%;
  overflow: hidden;
}

.socialsBox {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(107, 70, 42, .9);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 30%;
  height: 200px;
  margin-top: 60px;
  margin-left: 35%;
  border-style: solid;
  border-color: rgb(184, 144, 96, .9);
  border-radius: 50%;
}

.instagramBtn {
  width: 80px;
  margin-top: -10px;
  border: none;
  background: none;
  cursor: pointer;
}

.instagramImg {
  width: 100%;
  border-radius: 16px;
}