@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.ourCatsPage {
  background-image: url("../../images/kbengalsbgGradient.png");
  background-size: cover;
  height: 100%;
}

.headerContainerOurCats {
  background-image: url("../../images/OurCatsHeader.png");
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  top: 150px;
  height: 700px;
  vertical-align: text-top;
  padding-top: 50px;
  padding-left: 23%;
  padding-right: 23%;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: black;
}

.secondaryHeaderContainer {
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 20px;
  width: 60%;
  height: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -110px;
  margin-bottom: 60px;
}

.body {
  background-color: rgb(184, 144, 96, .9);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  gap: 6vh;
  row-gap: 2vh;
  align-self: start;
  padding: 5vh;
  border-style: solid;
  border-color: #6b462a;
  border-radius: 10px;
  margin-left: 23%;
  width: 50%;
}

.firstFemaleTitle {
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0.5;
  padding-left: 7%;
  border-radius: 10px;
}
.firstFemaleTitle h1 {
  font-size: 5vh;
}
.firstFemaleTitle p {
  font-size: 3vh;
}

.secondFemaleTitle {
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0.5;
  padding-left: 7%;
  border-radius: 10px;
}
.secondFemaleTitle h1 {
  font-size: 5vh;
}
.secondFemaleTitle p {
  font-size: 3vh;
}

.maleTitle {
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0.5;
  padding-left: 7%;
  border-radius: 10px;
}
.maleTitle h1 {
  font-size: 5vh;
}
.maleTitle p {
  font-size: 3vh;
}

.healthBtn {
  text-align: center;
  width: 72%;
  height: 8vh;
  margin-left: 14%;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-color: white;
  cursor: pointer;
}

.vaccinationBtn {
  text-align: center;
  line-height: 1;
  width: 72%;
  height: 8vh;
  margin-left: 14%;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-color: white;
  cursor: pointer;
}

.registrationBtn {
  text-align: center;
  line-height: 1;
  width: 72%;
  height: 8vh;
  margin-left: 14%;
  background-color: #6b462a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-color: white;
  cursor: pointer;
}

.socialsBox {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(107, 70, 42, .9);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 30%;
  height: 200px;
  margin-top: 60px;
  margin-left: 35%;
  border-style: solid;
  border-color: rgb(184, 144, 96, .9);
  border-radius: 50%;
}

.instagramBtn {
  width: 80px;
  margin-top: -10px;
  border: none;
  background: none;
  cursor: pointer;
}

.instagramImg {
  width: 100%;
  border-radius: 16px;
}