@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

/***************************** Owner's Info header ********************************/

/*.ownersInfoPage {
  background-color: #a87d48f5;
}

.img1{
  background-color: #a87d48f5;
  margin-bottom: 20px;
  width: 100%;
}*/

.backgroundLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a87d48f5;
  /*background-color: #a87d48f5;
  /*background-image: conic-gradient(
    rgb(64, 29, 2),
    rgb(226, 173, 10),
    rgb(64, 29, 2)
  );
  /*background-image: url("../../images/kbengalsbgGradient.png");*/
  background-size: cover;
  width: 100%;
}

/*.headerContainerOwnersInfo {
  background-image: url("../../images/bencat.jpg");
  background-size: cover;
  background-position: center center;
  text-align: left;
  color: white;
  font-family: inika;
  top: 150px;
  height: 700px;
  vertical-align: text-top;
  padding-top: 50px;
  padding-left: 23%;
  padding-right: 23%;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: black;
}*/

.headerOwnersInfoImg {
  width: 100%;
  height: auto;
  position: relative;
  background-color: rgba(160, 119, 81, 0.94);
}

.headerOwnersInfo {
  width: 100%;
  position: absolute;
  bottom: 8.5rem;
  margin-left: 1.5rem;
  text-align: left;
  font-family: inika;
  font-size: 3vw;
  color:#4E3A24;
}

/***************************** Products we Recommend ********************************/

.containerBox { /*ProductsRecom {*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(78, 58, 36, 0.85); /*#4E3A24;*/
  color: white;
  font-family: inika;
  margin-top: 1rem;
  margin-bottom: 60px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: rgba(255, 230, 207, 0.94);
  border-width: 20px;
  border-radius: 40px;
}

.bold{
  font: bold;
  font-size: 3rem
}


/*.fixedOwnInfoHeaderImg {
  background-image: url("../images/bencat - OwnersInfo header image.jpg");
  position: fixed;
}*/

/*.productsRecommend {
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  position: relative;
  margin-top: 10px;
  background-color: rgba(32, 19, 1, 0.856);
  color: rgb(255, 255, 255);
  /* bottom: 0.2vw;
  left: 0.2vw; /
  font-size: 1.1rem;
  border-radius: 10px;
}

.productsRecommendText {
  font-family: 'Times New Roman', Times, serif;
  width: 90%;
  margin: auto;
}*/

/****************************** Kitten Development *************************************/

.containerKittenDev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #4E3A24;
  color: white;
  font-family: inika;
  margin-top: 1rem;
  margin-bottom: 60px;
  padding: 20px 40px 20px 40px;
  border-style: solid;
  border-color: #ffe3c8;
  border-width: 20px 50px 20px 50px;
  border-radius: 40px;
}

.imgKittenDev {
  /*background-image: url("../images/cute bengal kitten.jpg");*/
  /*border-radius: 50%;*/
  width: 450px;
  height: 400px;
  top: 1rem;
  right: 1rem
  /*object-fit: cover;*/
  /*background-color: rgba(160, 119, 81, 0.94);*/
}

.txtKittenDev {
  text-align: right;
  right: 1rem;
}

/************************** Prepare For Kitten *****************************************/

.containerPrepareForKitten {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /*right: 1rem;*/
  background-color:#4E3A24;
  color: white;
  font-family: inika;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 60px;
}

.containerPrepare {
  margin: 10px 10px 10px 10px;
  background-color:  #4E3A24;
  flex: 1;
  border-radius: 10px;
}

.containerPrepare2 {
  margin: 10px 10px 10px 10px;
  background-color:  #ffe3c8;
  flex: 1;
  justify-content: center;
  text-align: center;
  color: black;
  border-radius: 20px;
  border-style: solid;
  border-color: #4E3A24;
  border-width: 20px 0px 20px 20px;
}

/****************************** Medical Info / Vet Stuff ***************************************************/



/****************************** Training ***************************************************/


/****************************** Pet Insurance ***************************************************/


/****************************** Social Media ***************************************************/