@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

/***************************************************************************/

.ownersInfoPage {
  background-color: #a87d48f5;
}

.img1{
  background-color: #a87d48f5;
  margin-bottom: 20px;
  width: 100%;
}

.backgroundLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a87d48f5;
  /*background-color: #a87d48f5;
  /*background-image: conic-gradient(
    rgb(64, 29, 2),
    rgb(226, 173, 10),
    rgb(64, 29, 2)
  );
  /*background-image: url("../../images/kbengalsbgGradient.png");*/
  background-size: cover;
  width: 100%;
}

.headerContainerProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(32, 19, 1, 0.856); /*#4E3A24;*/
  color: white;
  font-family: inika;
  margin-top: 1rem;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: #87633dc7;
  border-width: 20px;
  border-radius: 40px;
}

.headerContainerOwnersInfo {
  background-image: url("../../images/bencat.jpg");
  background-size: cover;
  background-position: center center;
  text-align: left;
  color: white;
  font-family: inika;
  top: 150px;
  height: 700px;
  vertical-align: text-top;
  padding-top: 50px;
  padding-left: 23%;
  padding-right: 23%;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: black;
}

.bold{
  font: bold;
  font-size: 3rem
}

.headerOwnersInfoImg {
  width: 100%;
  height: auto;
  position: relative;
  background-color: rgba(160, 119, 81, 0.94);
}

.headerOwnersInfo {
  width: 100%;
  position: absolute;
  bottom: 8.5rem;
  margin-left: 1.5rem;
  text-align: left;
  font-family: inika;
  font-size: 3vw;
  color:#4E3A24;
}

/*.fixedOwnInfoHeaderImg {
  background-image: url("../images/bencat - OwnersInfo header image.jpg");
  position: fixed;
}*/

/*.productsRecommend {
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  position: relative;
  margin-top: 10px;
  background-color: rgba(32, 19, 1, 0.856);
  color: rgb(255, 255, 255);
  /* bottom: 0.2vw;
  left: 0.2vw; /
  font-size: 1.1rem;
  border-radius: 10px;
}

.productsRecommendText {
  font-family: 'Times New Roman', Times, serif;
  width: 90%;
  margin: auto;
}*/