@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.reserveAKittenPage {
  background-color: #a87d48f5;
}

.img1{
  background-color: #a87d48f5;
  margin-bottom: 20px;
  width: 100%;
}

.backgroundLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: conic-gradient(
    rgb(64, 29, 2),
    rgb(255, 174, 0),
    rgb(64, 29, 2)
  );
  background-image: url("../../images/kbengalsbgGradient.png");
  background-size: cover;
  width: 100%;
}

.headerContainerReserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #87633d;
  color: white;
  font-family: inika;
  margin-top: 1rem;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: #4E3A24;
  border-width: 4px;
  border-radius: 20px;
}

.underline{
  text-decoration: underline;
}

.applyButton {
  background-color: #D3BEA5;
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: bold;
  font-family: inika;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.instructionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: inika;
}

.instructionContainer h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.instructionContainer p {
  font-size: 1.75rem;
}

.processContainer {
  margin: 10px 10px 10px 10px;
  background-color: #4E3A24;
  flex: 1;
  border-radius: 10px;
}

.paymentContainer {
  margin: 10px 10px 10px 10px;
  background-color: #4E3A24;
  flex: 1;
  border-radius: 10px;
}

.deliveryContainer {
  margin: 10px 10px 10px 10px;
  background-color: #4E3A24;
  flex: 1;
  border-radius: 10px;
}

.additionalInfoContainer {
  margin: 10px 10px 10px 10px;
  background-color: #4E3A24;
  color: white;
  font-family: inika;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.additionalInfoContainer h3 {
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}

.additionalInfoContainer p {
  font-size: 28px;
}

/* Email Form for Reserving A Kitten */

.formContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
 
  width: 80%;
  font-size: 1rem;
  background: #4E3A24;
  color: white;
  border-radius: 15px;
}

.formTextInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
}

.formKittenSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#userName, #userEmail {
  width: 100%;
  height: 2.5rem;
  padding: 1rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

#userMessage {
  width: 100%;
  height: 9rem;
  padding: 1rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

#userName:focus, #userEmail:focus, #userMessage:focus {
  border: 2px solid rgba(168, 125, 72, 0.96);
}

#formLabel {
  font-size: 1.5rem;
  margin-top: 1rem;
}

#submitButton {
  width: 20%;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  align-self: flex-end;
  margin-right: 7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background: white;
  color: rgb(168, 125, 72);
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  border: none;
  font-size: 1.7rem;
  font-weight: bold;
}

#submitButton:hover {
  background: rgb(168, 125, 72);
  color: white;
  transition: 0.7s;
}