  .containerBtn {
    width: 100%;
    padding: 0%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    border-width: 0;
    position: relative;
    cursor: pointer;
  }

  .modalBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }

  .modalContainer {
    width: 50%;
    height: 90%;
    color: black;
    overflow: hidden;
    border-radius: 12px;
    background-color: #a87d48f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .title {
    width: 90%;
    height: 18vh;
    font-size: 1vw;
    display: inline-block;
    background-color: #e2b78e;
    text-align: center;
    margin-top: -4vh;
    margin-left: 5%;
    line-height: 0.8;
    border-radius: 10px;
  }

  .gridLitterandParents {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr;
    grid-template-rows: 30vh;
    gap: 3vh;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  .litterImg {
    width: 100%;
    height: 30vh;
    border-style: solid;
    border-width: 5px;
    border-color: #e2b78e;
    border-radius: 10px;
  }

  .litterImg img{
    width: 100%;
    height: 100%;
  }

  .litterParent {
    padding-top: 3vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .litterParentPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 70%;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #e2b78e;
  }

  .litterParentPicture img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .momAndDadText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2vw;
    word-spacing: 1.2em;
  }

  .kittenContainer{
    margin-top: 1vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh;
  }
  
  .kittenPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #e2b78e;
  }

  .kittenPicture img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .kittenInfo {
    background-color: #e2b78e;
    font-size: 0.9vw;
    height: 10vh;
    margin-top: -1vh;
    line-height: 0.4;
    padding: 1.2vh;
    border-radius: 10px;
  }

  .closeBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .closeBtn button {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-size: 2.5vh;
    border-radius: 5px;
    cursor: pointer;
  }