@import "../../theme.css";

@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

/* >>>>>>>>>>>>>>>>>>    Testimonials' Container    <<<<<<<<<<<<<<<<<<*/
.testimonialsContainer {
  position: relative;
  width: 95%;
  margin: 2rem;
}
/* >>>>>>>>>>>>>>>>>>    Testimonials' Title   <<<<<<<<<<<<<<<<<<*/
.testimonialTitle {
  width: 65vw;
  margin-left: 15%;
  color: var(--light-primary-color);
  font-size: 5vw;
  font-weight: bolder;
  font-family: inika, lancelot;
  text-align: center;
  text-shadow: 0.15vw 0.15vw rgba(197, 117, 6, 0.89);
  background-color: rgba(55, 29, 2, 0.835);
  border-radius: 8vw;
}
/* >>>>>>>>>>>>>>>>>>    Testimonies' Container    <<<<<<<<<<<<<<<<<<*/
.testimoniesContainer {
  width: 100%;
  margin: auto;
  display: grid;
}

@media screen {
  .testimoniesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* >>>>>>>>>>>>>>>>>>    Testimony's Container   <<<<<<<<<<<<<<<<<<*/
.testimonyContainer {
  width: 65%;
  margin-left: 18%;
  margin-top: 1rem;
}

/* >>>>>>>>>>>>>>>>>>    Testimony's Image   <<<<<<<<<<<<<<<<<<*/
.testimonyContainer img {
  width: 100%;
  margin: auto;
  border-top-right-radius: 5vw;
  border-top-left-radius: 5vw;
}
/* >>>>>>>>>>>>>>>>>>    Testimony's Text   <<<<<<<<<<<<<<<<<<*/
.testimonyText {
  background-color: rgba(0, 2, 2, 0.744);
  color: rgb(255, 250, 250);
  padding: 0.25vw 4vw;
  padding-bottom: 1.5vw;
  margin: auto;
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
}
.testimonyContainer h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  font-family: "Times New Roman", Times, serif;
}
.testimonyContainer h4 {
  text-align: left;
  font-size: 1vw;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
