@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.navBar {
  width: 100%;
  height: 187px;
  background-color: #412804;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: flex-start;
}

.left {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 15%;
}

.left img {
  flex: 2;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex: 1;
}

.middle-links{
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: auto;
}

.header-kingbengals {
  font-family: lancelot;
  font-size: 64px;
  color: white;
}

.header-cattery {
  font-family: lancelot;
  font-size: 32px;
  color: white;
  margin-left: 8px;
}

.right {
  height: 100%;
  width: 14%;
}

/* Navigation Links */
.link {
  font-family: inika;
  font-size: 20px;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.link-left{
  font-family: inika;
  font-size: 20px;
  color: white;
  background-color: #e2ae6e98;
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
}

.link-right {
  font-family: inika;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
  margin-top: 50%;
  margin-right: 25%;
  text-align: center;
  color: white;
  background-color: #e2ae6e98;
}

.link:hover {
  cursor: pointer;
}

.link-left:hover {
  cursor: pointer;
}

.link-right:hover {
  cursor: pointer;
}

