@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.navBar {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #412804;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1;
}

.leftImgContainer {
  display: flex;
}

.leftImgContainer #leftHeaderImg {
  scale: 0.8;
  flex: 1;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.navLinks{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.headerTitleContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: last baseline;
}

.rightImgContainer {
  display: flex;
  height: 100%;
  align-self: flex-end;
}

.rightImgContainer #rightHeaderImg {
  scale: 0.8;
  margin-top: 4rem;
}

.headerKingBengals {
  font-family: lancelot;
  font-size: 4rem;
  color: white;
  margin-bottom: 2rem;
}

.headerCattery {
  font-family: lancelot;
  font-size: 2rem;
  color: white;
  margin-left: 8px;
  margin-bottom: 2rem;
}


/* Navigation Links */
.link {
  font-family: inika;
  font-size: 1.1rem;
  color: white;
}

.link-left{
  font-family: inika;
  font-size: 1.1rem;
  color: white;
  background-color: #e2ae6e98;
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
}

.link-right {
  font-family: inika;
  font-size: 1.1rem;
  padding: 5px 0px 5px 0px;
  margin-top: 50%;
  margin-right: 25%;
  text-align: center;
  color: white;
  background-color: #e2ae6e98;
}

.link:hover {
  cursor: pointer;
}

.link-left:hover {
  cursor: pointer;
}

.link-right:hover {
  cursor: pointer;
}

/* 944px width, links transform 
   360px width min-width for the site
*/

.navBtn {
  align-self: flex-end;
  padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	display: none;
	font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 944px) {
	.navBtn {
		display: flex;
	}

	.navLinks {
    display: none;
	}

  .navLinksMobile {
    position: absolute;
    display: flex;
		left: 0;
    top: 200px;
		height: auto;
		width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #e2ae6e98;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    transition: all 0.5s ease-in-out;
    flex-direction: column;
  }  

  .rightImgContainer #rightHeaderImg {
    display: none;
  }

  .headerTitleContainer {
    position: absolute;
    bottom: 0;
    left: 21%;
  }

  .headerKingBengals {
    font-size: 4rem; 
  }
  
  .headerCattery { 
    font-size: 2rem;
  }
}