/* ******************   Display each Kitten   *********************/
.kittenContainer {
  width: 90%;
  margin: auto;
  padding: 2rem;
  background-color: rgba(50, 94, 13, 0.354);
  border-radius: 1rem;
  border-color: antiquewhite;
  border-style: solid;
  border-width: 0.5rem;
  display: grid;
  color: aliceblue;
}
@media screen {
  .kittenContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* ****************** Delete Option - Kitten ******************/
.deleteContainer {
  width: 90%;
  text-align: right;
  margin: auto;
  margin-top: 0rem;
}
.deleteContainer button {
  background-color: brown;
  font-size: 2rem;
  border-style: outset;
  border-color: rgb(0, 229, 255);
}
/* ********************   Kitten Picture   *********************/
.pictureContainer {
  width: 90%;
  margin: auto;
  border-radius: 15%;
}
.pictureContainer img {
  width: 100%;
}

/* ********************** kitten Info *********************/
.kittenInfo {
  width: 90%;
  margin: auto;
  margin-top: 0rem;
}
.kittenInfo label {
  min-width: 6rem;
  color: rgb(253, 248, 248);
}
.kittenInfo input {
  color: rgb(6, 6, 6);
  background-color: rgba(235, 209, 176, 0.822);
  border-radius: 0.5rem;
  padding: auto, 1rem;
}

/* ****************** Edit Options - Kittens ******************/
.edittingOptions {
  width: 90%;
  margin: auto;
  margin-top: 0rem;
}

.edittingOptions label {
  min-width: 6rem;
  color: rgb(253, 248, 248);
}
.edittingOptions input {
  color: black;
}
.edittingOptions button {
  background-color: brown;
  font-size: 1.65rem;
}
