/* ******************   Display each Kitten   *********************/
.kittenContainer {
  width: 90%;
  margin: auto;
  padding: 2rem;
  background-color: rgba(38, 43, 1, 0.497);
  border-radius: 1rem;
  border-color: rgb(243, 211, 49);
  border-style: solid;
  border-width: 0.5rem;
  display: grid;
  color: rgb(254, 254, 254);
}
@media screen {
  .kittenContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* ****************** Delete Option - Kitten ******************/
.deleteContainer {
  width: 90%;
  text-align: right;
  margin: auto;
  margin-top: 0rem;
}
.deleteContainer button {
  background-color: rgba(240, 45, 6, 0.976);
  border-color: rgb(235, 242, 37);
  border-width: 0.25rem;
  font-size: 1.85rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.965);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
/* ********************   Kitten Picture   *********************/
.pictureContainer {
  width: 90%;
  margin: auto;
  border-radius: 15%;
}
.pictureContainer img {
  width: 100%;
}

/* ********************** kitten Info *********************/
.kittenInfo {
  width: 90%;
  margin: auto;
  margin-top: 0rem;
}
.kittenInfo label {
  min-width: 8rem;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  color: black;
  text-align: center;
  background-color: rgba(255, 227, 14, 0.943);
}
.kittenInfo input {
  color: rgb(6, 6, 6);
  background-color: rgb(161, 245, 237);
  border-radius: 0.5rem;
  padding: auto, 1rem;
}

/* ****************** Edit Options - Kittens ******************/
.edittingOptions {
  width: 90%;
  margin: auto;
  margin-top: 0rem;
}

.edittingOptions label {
  min-width: 8rem;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  color: rgb(37, 4, 1);
  text-align: center;
  background-color: rgba(244, 173, 30, 0.989);
}
.edittingOptions input {
  color: black;
  border-radius: 0.2rem;
  padding: 0.5rem, 1rem;
}
.edittingOptions button {
  background-color: rgb(190, 76, 5);
  border-color: rgb(126, 251, 2);
  border-width: 0.25rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.edittingOptions select {
  color: black;
  border-radius: 0.2rem;
  padding: 0.5rem, 1rem;
  margin: 0.5rem 0rem;
  background-color: rgb(184, 251, 68);
}

.edittingOptions legend {
  max-width: fit-content;
  border-style: none;
  font-weight: bold;
  display: flex;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.edittingOptions fieldset {
  width: 100%;
  min-width: 12rem;
  margin: 0.5rem 0rem;
  border-width: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  padding: 1rem;
  display: grid;
  background-color: rgba(242, 164, 20, 0.291);
  font-size: 1.5rem;
}
.edittingOptions fieldset label {
  border-color: rgb(225, 255, 0);
  background-color: rgb(174, 250, 41);
  color: rgb(77, 38, 2);
  border-width: 0.25rem;
  padding: 0;
  font-size: normal;
}
