@font-face {
  font-family: inika;
  src: url("../../fonts/Inika-Regular.ttf");
}
@font-face {
  font-family: lancelot;
  src: url("../../fonts/Lancelot-Regular.ttf");
}

.navbarContainer {
  width: full;
  background-color: #321a02cc;
}
