/* ******************   Display each Parents   *********************/
.parentContainer {
  width: 90%;
  margin: auto;
  padding: 2rem;
  background-color: rgba(22, 22, 187, 0.335);
  border-radius: 1rem;
  border-color: antiquewhite;
  border-style: solid;
  border-width: 0.5rem;
  display: grid;
  color: aliceblue;
}
@media screen {
  .parentContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* ****************** Delete Option - Parent ******************/
.deleteContainer {
  width: 90%;
  text-align: right;
  margin: auto;
  margin-top: 0rem;
}
.deleteContainer button {
  background-color: brown;
  font-size: 2rem;
  border-style: outset;
  border-color: rgb(0, 229, 255);
}
/* ********************   Parent Picture   *********************/
.pictureContainer {
  width: 90%;
  margin: auto;
  border-radius: 15%;
}
.pictureContainer img {
  width: 100%;
}

/* ********************** Parent Info *********************/
.parentInfo {
  width: 90%;
  margin: auto;
  margin-top: 0rem;
}
.parentInfo label {
  width: 6rem;
  color: rgb(253, 248, 248);
}
.parentInfo input {
  color: rgb(6, 6, 6);
  background-color: rgba(243, 216, 180, 0.92);
  border-radius: 0.5rem;
  padding: auto, 1rem;
}

/* ****************** Edit Options - Parents ******************/
.edittingOptions {
  width: 90%;
  margin: auto;
  margin-top: 0rem;
}

.edittingOptions label {
  width: 6rem;
  color: rgb(253, 248, 248);
}
.edittingOptions input {
  color: black;
}
.edittingOptions button {
  background-color: brown;
  font-size: 1.65rem;
}
